<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Clubs</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/MainFile.css" rel="stylesheet" type="text/css"/>
    <link href="css/Clubs.css" rel="stylesheet" type="text/css"/>
    <script src="js/searchBar.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/navBarPosition.js" type="application/javascript" charset="UTF-8"></script>
</head>

<body onscroll="navPosition()">

<nav th:replace="~{fragments::menu('clubs')}"></nav>

<div id="SearchBar">
    <input type="search" id="searchEvent" onkeyup="searchEvent()" placeholder="Rechercher une association...">
</div>

<main>
    <div id="left">
        <article th:each="club, state : ${clubList}" th:if="${state.odd}">
            <figure>
                <img alt="image de l association" th:src="${club.lien}" width="150">
                <figcaption>
                    <h1 class="titre_assos" th:text="${club.name}"></h1>
                    <table>
                        <tr>
                            <th> Administrateurs :</th>
                        </tr>
                        <tr th:each="admin : ${userList}"
                            th:if="${admin.getPresident() and admin.getClub() == club.id}">
                            <td th:text="${admin.getPseudo()}"></td>
                        </tr>

                        <tr>
                            <th> Membres :</th>
                        </tr>
                        <tr th:each="admin : ${userList}"
                            th:if="${!admin.getPresident() and admin.getClub() == club.id}">
                            <td th:text="${admin.getPseudo()}"></td>
                        </tr>
                    </table>
                </figcaption>

            </figure>
        </article>
    </div>

    <div id="right">
        <article th:each="club, stat : ${clubList}" th:if="${stat.even}">
            <figure>
                <img alt="image de l association" th:src="${club.lien}" width="150">
                <figcaption>
                    <h1 class="titre_assos" th:text="${club.name}"></h1>
                    <table>
                        <tr>
                            <th> Administrateurs :</th>
                        </tr>
                        <tr th:each="admin : ${userList}"
                            th:if="${admin.getPresident() and admin.getClub() == club.id}">
                            <td th:text="${admin.getPseudo()}"></td>
                        </tr>

                        <tr>
                            <th> Membres :</th>
                        </tr>
                        <tr th:each="admin : ${userList}"
                            th:if="${!admin.getPresident() and admin.getClub() == club.id}">
                            <td th:text="${admin.getPseudo()}"></td>
                        </tr>
                    </table>
                </figcaption>

            </figure>
        </article>
    </div>
</main>

</body>
</html>