<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>password</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/MainFile.css" rel="stylesheet" type="text/css"/>
    <link href="css/Forms.css" rel="stylesheet" type="text/css"/>
</head>

<body>
<nav th:replace="~{fragments::menu('home')}"></nav>

<main>

    <form accept-charset="UTF-8" action="password" id="newEvent" method="post">
        <h1>Changer de mot de passe : </h1>

        <div>
            <label for="pseudo"> Pseudo  </label>
            <input id="pseudo" name="pseudo" required type="text"/>
        </div>

        <div>
            <label for="mdp"> Modifier Mot de passe </label>
            <input id="mdp" name="mdp" required type="text"/>
        </div>

        <div>
            <label for="mdp2"> Confirmer le mot de passe  </label>
            <input id="mdp2" name="mdp2" required type="text"/>
        </div>
        <input type="submit" value="Valider">
    </form>

    <img src="img/pink panther.png" alt="pink panther decoration" id="panther"/>

</main>

</body>
</html>