<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<nav th:fragment="menu(currentPage)">
    <div id="HEIvents">
        <h1><a href="home">HEIvents</a></h1>
        <!-- SI CONNECTE -->
        <input th:if="${!session.isEmpty()}" type="button" name="Deconnexion" value="Deconnexion"
               onclick="location.href='deconnection';"/>
        <!-- SI PAS CONNECTE -->
        <input th:if="${session.isEmpty()}" type="button" name="Connexion" value="Connexion"
               onclick="location.href='connection';"/>
        <p th:if="${!session.isEmpty()}">Bonjour, <span th:text="${session.pseudo}" id="userName"></span></p>
    </div>


    <div id="NavBar">
        <ul id="List">
            <li th:id="${currentPage == 'clubs' ? 'active' : ''}"><a href="clubs">Associations</a></li>
            <li>
                <img src="img/dot.png" alt="dot"/>
            </li>
            <li th:id="${currentPage == 'home' ? 'active' : ''}" id="refTest"><a href="home">Evenements</a></li>
            <li th:if="${session.president}">
                <img src="img/dot.png" alt="dot"/>
            </li>
            <li th:if="${session.president}" th:id="${currentPage == 'addevent' ? 'active' : ''}"><a href="addevent">Ajout</a>
            </li>
            <li th:if="${session.president}">
                <img src="img/dot.png" alt="dot"/>
            </li>
            <li th:if="${session.president}" th:id="${currentPage == 'user' ? 'active' : ''}"><a
                    href="user">Utilisateur</a></li>
        </ul>
    </div>

    <script type="application/javascript">
        document.getElementById("List").style.marginLeft =
            ((document.getElementById("NavBar").offsetWidth / 2) - (document.getElementById("active").offsetLeft)
                - (document.getElementById("active").offsetWidth / 2)) + "px";
    </script>
</nav>

</body>
</html>