<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Fragments</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

    <nav th:fragment="menu(currentPage)">
        <div id="HEIvents">
            <h1><a href="home">HEIvents</a></h1>
            <input type="button" name="Connexion" value="Connexion" id="Connexion"/>
        </div>

        <div>
           <ul>
            <li th:class="${currentPage == 'home'} ? 'active' : ''"><a href="home">Evenements</a></li>
            <li th:class="${currentPage == 'clubs'} ? 'active' : ''"><a href="clubs">Associations</a></li>
            <li th:class="${currentPage == 'add'} ? 'active' : ''"><a href="add">Ajout</a></li>
           </ul>
        </div>
    </nav>

</body>
</html>