<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> HEIvents </title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/MainFile.css" rel="stylesheet" type="text/css"/>
    <link href="css/Articles.css" rel="stylesheet" type="text/css"/>
    <script src="js/searchBar.js" type="application/javascript" charset="UTF-8"></script>
    <script src="js/navBarPosition.js" type="application/javascript" charset="UTF-8"></script>
</head>

<body onscroll="navPosition()">

<!--
<script>
    document.getElementsByTagName("body")[0].onscroll = function () {
        navPosition()
    };

    function navPosition() {
        if (window.scrollY > 115) {
            console.log("Scroll limit");
            let nav = document.getElementsByTagName("nav")[0];
            let navBarList = nav.getElementsByTagName("div");
            if (navBarList.length < 3) {
                let newNavBar = document.getElementById("NavBar").cloneNode(true);
                nav.appendChild(newNavBar);
                document.getElementById("NavBar").style.position = 'fixed';
                document.getElementById("NavBar").style.display = '';
                document.getElementById("NavBar").style.top = '0';
                document.getElementById("NavBar").style.left = '0';
                document.getElementById("NavBar").style.zIndex = '1';
            }
        } else {
            let nav = document.getElementsByTagName("nav")[0];
            let navBarList = nav.getElementsByTagName("div");
            let i = navBarList.length - 1;
            if (navBarList.length > 2) {
                navBarList[i].remove();
            }
            document.getElementById("NavBar").style.position = '';
            document.getElementById("NavBar").style.display = 'block';
        }
    }
</script>
-->

<nav th:replace="~{fragments::menu('home')}"></nav>

<div id="SearchBar">
    <input type="search" id="searchEvent" onkeyup="searchEvent()" placeholder="Rechercher un événement...">
</div>

<main>

    <div id="left">
        <article th:each="event,state : ${eventList}" th:onclick="'showDiv(' + ${event.id} + ')'"
                 th:id="'rank-'+${state.count}" class="event left"
                 th:if="${state.odd}">
            <figure>
                <section class="intro">
                    <img alt="Image du club" th:src="${event.club.lien}"/>
                    <figcaption>
                        <h1 th:text="${event.title}"></h1>
                        <a href="clubs"><h2 th:text="${event.club.name}"></h2></a>
                        <script th:inline="javascript">
                            function showDiv(id) {
                                if (document.getElementById('infoDiv' + id).style.display === 'none') {
                                    document.getElementById('infoDiv' + id).style.display = 'block';
                                } else {
                                    document.getElementById('infoDiv' + id).style.display = 'none';
                                }
                            }
                        </script>
                    </figcaption>
                </section>

                <h4 th:text="${#temporals.format(event.eventDate, 'd MMMM yyyy')}"></h4>

                <h3 th:text="${event.resume}"></h3>
                <h3 th:text="${event.bureau}" class="bureau"></h3>
                <form name="event" action="event">
                    <button class="bouton" type="submit" name="event" th:value="${event.id}">Plus d'infos</button>
                    <img src="img/line.png" class="buttonImage" alt="button"/>
                </form>

                <img src="img/separator.png" alt="separator" class="separator"/>
            </figure>
        </article>
    </div>

    <div id="right">
        <article th:each="event, stat : ${eventList}" th:onclick="'showDiv(' + ${event.id} + ')'"
                 th:id="'rank-'+${stat.count}" class="event right"
                 th:if="${stat.even}">
            <figure>
                <section class="intro">
                    <img alt="Image du club" th:src="${event.club.lien}"/>
                    <figcaption>
                        <h1 th:text="${event.title}"></h1>
                        <a href="clubs"><h2 th:text="${event.club.name}"></h2></a>
                        <script th:inline="javascript">
                            function showDiv(id) {
                                if (document.getElementById('infoDiv' + id).style.display === 'none') {
                                    document.getElementById('infoDiv' + id).style.display = 'block';
                                } else {
                                    document.getElementById('infoDiv' + id).style.display = 'none';
                                }
                            }
                        </script>
                    </figcaption>
                </section>

                <h4 th:text="${#temporals.format(event.eventDate, 'd MMMM yyyy')}"></h4>
                <h3 th:text="${event.resume}"></h3>
                <h3 th:text="${event.bureau}" class="bureau"></h3>
                <form name="event" action="event">
                    <button class="bouton" type="submit" name="event" th:value="${event.id}">Plus d'infos</button>
                    <img src="img/line.png" class="buttonImage" alt="button"/>
                </form>

                <img src="img/separator.png" alt="separator" class="separator"/>
            </figure>
        </article>
    </div>

</main>

</body>
</html>