<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New Event</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/cssFile.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav th:replace="~{fragments::menu('addevent')}"></nav>

<form id="newEvent" method="post" action="addevent" accept-charset="UTF-8">
        <div>
            <div>
                <label for="title">Event title</label>
                <input type="text" name="title" id="title" required/>
            </div>
            <div class>
                <label> Association </label>
                    <select th:field="*{clubList}" id="club_id" name="club_id">
                        <option th:each="club : ${clubList}"
                                th:value="${club.id}"
                                th:text="${club.name}"
                                >
                                </option>
                    </select>
            </div>
            <div>
                <label for="event_date">Event date</label>
                <input type="date" name="event_date" id="event_date" required/>
            </div>
        </div>
        <div>
            <div>
                <label for="resume">Short description of your event (maximum 100 characters)</label>
                <input type="text" name="resume" id="resume" maxlength="100" required/>
            </div>
            <div>
                <label for="details">Article (maximum 10 000 characters)</label>
                <input type="text" name="details" id="details" maxlength="10000" required/>
            </div>
        </div>

        <button type="submit">
            Add event
        </button>
</form>

</body>
</html>