<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>S'inscrire</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/cssFile.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav th:replace="~{fragments::menu('home')}"></nav>

<main>
    <form accept-charset="UTF-8" action="register" id="newEvent" method="post">

        <h1> Nouvel utilisateur </h1>
        <div>
            <label for="pseudo"> Pseudo </label>
            <input id="pseudo" name="pseudo" required type="text"/>
        </div>

        <div>
            <label for="mail"> Mail </label>
            <input id="mail" name="mail" required type="text"/>
        </div>

        <div>
            <label for="motdepasse"> Mot de passe </label>
            <input id="motdepasse" name="motdepasse" required type="text"/>
        </div>

        <div>
            <label> Association </label>
            <select th:field="*{clubList}" id="club_id" name="club_id">
                <option th:each="club : ${clubList}"
                        th:value="${club.id}"
                        th:text="${club.name}"
                ></option>
                <!-- <option value=''>
                    Ne participe pas à la vie des associations
                </option> -->
            </select>
        </div>

        <div th:if="${session.president}">
            <input type="radio" name="status" value="false" checked> Utilisateur <br>
            <input type="radio" name="status" value="true"> President <br>
        </div>

        <button type="submit">S'inscrire</button>

    </form>
</main>
</body>

</html>