<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> HEIvents </title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/MainFile.css" rel="stylesheet" type="text/css"/>
    <script src="js/Utilisateur.js" type="application/javascript"></script>
</head>

<body>

<nav th:replace="~{fragments::menu('user')}"></nav>

<main>

    <table id="listUsers">
        <thead>
            <th>Pseudo</th>
            <th>Mail</th>
            <th>President</th>
            <th> Club </th>
            <th> <a href="register"> Ajout utilisateur </a> </th>
        </thead>
        <tbody id="listUsersBody">

        </tbody>
    </table>

    <table id="listClubs" style="display: none">
        <thead>
        <th> ID </th>
        <th> Nom </th>

        </thead>
        <tbody id="listClubsBody">

        </tbody>
    </table>

</main>

</body>
</html>