<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title> HEIvents </title>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/cssFile.css" rel="stylesheet" type="text/css"/>
    <script src="js/Utilisateur.js" type="application/javascript"></script>
</head>

<body>

<nav th:replace="~{fragments::menu('user')}"></nav>

<main>

    <table id="listUsers">
        <tr>
            <th>Pseudo</th>
            <th>Mail</th>
            <th>President</th>
            <th> Club </th>
        </tr>
        <!--
        <tr id="user-1">
            <td> Premier pseudo </td>
            <td> Premier mail </td> etc.
        </tr>
        -->
    </table>


</main>

</body>
</html>