<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Utilisateurs</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href="css/cssFile.css" rel="stylesheet" type="text/css"/>
</head>
<body>

<nav th:replace="~{fragments::menu('user')}"></nav>

<main>

    <div class="col-md-6">
        <h3>Detail des utilisateurs : </h3>
        <div class="card">
            <div class="card-header">
                <em>Utilisateur n°<span id="userId"></span></em>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><label>Pseudo :</label> <span id="userPseudo"></span></li>
                <li class="list-group-item"><label>Mot de passe :</label> <span id="userMdp"></span></li>
                <li class="list-group-item"><label>Mail :</label> <span id="userMail"></span></li>
                <li class="list-group-item"><label>President (oui / non) :</label> <span id="userPresident"></span></li>
                <li class="list-group-item"><label>ID du club :</label> <span id="useridclub"></span></li>
            </ul>
        </div>
    </div>

</main>

</body>
</html>